@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Vollkorn:ital@0;1&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #333333;
}

a {
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

ul {
  list-style: none;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  background: #E5E5E5;
}

.title {
  font-size: 23px;
  line-height: 156.5217391304%;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 72px 0;
}
.title.line {
  position: relative;
}
.title.line::before {
  content: "";
  position: absolute;
  bottom: -28px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 80px;
  height: 2px;
  background: #000;
}

.title2,
.title3 {
  line-height: 125%;
  text-align: center;
  text-transform: uppercase;
}

.title2 {
  font-size: 16px;
}

.title3 {
  font-size: 15px;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

.wrapper {
  overflow: hidden;
}

.header {
  padding: 18px 0;
  background: #FFFFFF;
}
.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.header__logo img {
  width: 155px;
  height: 70px;
}
.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 767px) {
  .header__menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 0%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.845);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 120px 0 0 0;
    z-index: 5;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .header__menu.active {
    width: 40%;
  }
}
.header__burger {
  position: relative;
  display: none;
}
@media (max-width: 767px) {
  .header__burger {
    display: block;
    z-index: 7;
    padding: 0 20px;
  }
}
.header__burger::before, .header__burger span, .header__burger::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 2px;
  top: 0;
  left: 0;
  background: #000;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-radius: 5px;
}
.header__burger::before {
  top: 7px;
}
.header__burger::after {
  top: -7px;
}
.header__burger.active::before {
  top: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background: #cabbbb;
}
.header__burger.active span {
  opacity: 0;
  -webkit-transform: scale(0.1);
          transform: scale(0.1);
  background: #cabbbb;
}
.header__burger.active::after {
  top: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  background: #cabbbb;
}

.menu__item {
  margin: 0 34px 0 0;
}
.menu__item:last-child {
  margin: 0 0 0 0;
}
@media (max-width: 767px) {
  .menu__item {
    margin: 0 0 40px 0;
    display: none;
  }
  .menu__item.active {
    display: block;
  }
}
.menu__link {
  font-size: 12px;
  line-height: 166.6666666667%;
  text-transform: uppercase;
  color: #404040;
  position: relative;
}
@media (max-width: 767px) {
  .menu__link {
    font-size: 15px;
    color: #cabbbb;
  }
}
.menu__link::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 1px;
  bottom: -4px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #000;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.menu__link:hover::before {
  width: 100%;
}
.menu__link:active::before {
  width: 60%;
}

.page1 {
  min-height: calc(100vh - 106px);
  background: url("../img/bg1.jpg") 0 0/cover no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.page1__title {
  font-size: 44px;
  line-height: 125%;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  position: relative;
  margin: 0 0 55px 0;
}
@media (max-width: 767px) {
  .page1__title {
    font-size: 30px;
  }
}
.page1__title::before {
  content: "";
  position: absolute;
  bottom: -28px;
  left: 50%;
  width: 80px;
  height: 2px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #fff;
}
.page1__subtitle {
  font-family: "Vollkorn", serif;
  font-size: 15px;
  line-height: 133.3333333333%;
  text-align: center;
  color: rgba(255, 255, 255, 0.81);
}

.page2 {
  padding: 79px 0 39px 0;
}
@media (max-width: 767px) {
  .page2 {
    padding: 60px 0 20px 0;
  }
}
.page2__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 767px) {
  .page2__items {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.page2__item {
  max-width: 300px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 18px 5px 17px;
  -webkit-box-shadow: 0 0 0.3px rgba(0, 0, 0, 0.9);
          box-shadow: 0 0 0.3px rgba(0, 0, 0, 0.9);
  border-radius: 5px;
  height: 100%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  margin: 0 0 30px 0;
}
.page2__item:hover {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}
@media (max-width: 950px) {
  .page2__item {
    margin: 0 20px 30px 20px;
  }
}
@media (max-width: 500px) {
  .page2__item {
    margin: 0 0 30px 0;
  }
}

.item2__img {
  margin: 0 0 88px 0;
}
@media (max-width: 500px) {
  .item2__img {
    margin: 0 0 40px 0;
  }
}
.item2__title {
  margin: 0 0 20px 0;
}
@media (max-width: 500px) {
  .item2__title {
    margin: 0 0 15px 0;
  }
}
.item2__text {
  font-family: "Vollkorn", serif;
  font-size: 15px;
  line-height: 146.6666666667%;
}

.page3 {
  padding: 79px 0 69px 0;
  position: relative;
  overflow: hidden;
}
@media (max-width: 767px) {
  .page3 {
    padding: 60px 0 50px 0;
  }
}
.page3__items1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 300px;
  height: 384px;
  margin: 0 auto;
}
@media (max-width: 400px) {
  .page3__items1 {
    width: 250px;
    height: 350px;
  }
}
.page3__item1 {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
}
.page3__btn {
  display: block;
  border: 0;
  outline: 0;
  margin: 0 auto;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.page3__btn:hover {
  position: relative;
  top: -3px;
  -webkit-box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.5);
}
.page3__btn:active {
  top: 0;
  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
}
.page3__items2 {
  position: relative;
  margin: 0 auto;
  padding: 40px 0;
  width: 300px;
  height: 384px;
}
@media (max-width: 400px) {
  .page3__items2 {
    width: 250px;
    height: 350px;
  }
}
.page3__item2 {
  position: absolute;
  width: 100%;
  height: 100%;
}
.page3__item2 img {
  height: 300px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}
@media (max-width: 400px) {
  .page3__item2 img {
    height: 250px;
  }
}
.page3__items3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  width: 300px;
  margin: 0 auto;
  padding: 40px 0 0 0;
}
.page3__items3::-webkit-scrollbar {
  display: none;
}
@media (max-width: 400px) {
  .page3__items3 {
    width: 250px;
  }
}
.page3__item3 {
  width: 300px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
@media (max-width: 400px) {
  .page3__item3 {
    width: 250px;
  }
}
.page3__item3 img {
  width: 100%;
  height: 300px;
}
@media (max-width: 400px) {
  .page3__item3 img {
    height: 250px;
  }
}

.sliders {
  position: relative;
  bottom: -40px;
  z-index: 20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px 0 40px 0;
}
.sliders label {
  width: 30px;
  height: 10px;
  border: 2px solid rgb(43, 67, 92);
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin: 0 40px 0 0;
}
.sliders label:last-child {
  margin: 0 0 0 0;
}

#one:checked ~ .sliders label.one,
#two:checked ~ .sliders label.two,
#three:checked ~ .sliders label.three,
#four:checked ~ .sliders label.four {
  border-radius: 14px;
  background: rgb(43, 67, 92);
}

.sliders label:hover {
  background: rgb(43, 67, 92);
}

.wrapper input[type=radio] {
  display: none;
}

.dis_no {
  display: none;
}

.dis_bl {
  display: block;
}

.item31__img {
  width: 100%;
  height: 300px;
  margin: 0 0 19px 0;
}
@media (max-width: 400px) {
  .item31__img {
    height: 250px;
  }
}
.item31__title {
  margin: 0 0 4px 0;
  display: none;
}
.item31__text {
  display: none;
}

.text2 {
  font-family: "Vollkorn", serif;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}

.cour {
  position: relative;
}

.arr {
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 20;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}
@media (max-width: 400px) {
  .arr {
    width: 23px;
  }
}
@media (max-width: 350px) {
  .arr {
    width: 15px;
  }
}

.arr1 {
  left: 20%;
  -webkit-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg);
}
.arr1:hover {
  -webkit-transform: translateY(-50%) rotate(180deg) scale(1.1);
          transform: translateY(-50%) rotate(180deg) scale(1.1);
}
.arr1:active {
  -webkit-transform: translateY(-50%) rotate(180deg) scale(0.9);
          transform: translateY(-50%) rotate(180deg) scale(0.9);
}
@media (max-width: 767px) {
  .arr1 {
    left: 10%;
  }
}
@media (max-width: 550px) {
  .arr1 {
    left: 0%;
  }
}

.arr2 {
  right: 20%;
}
.arr2:hover {
  -webkit-transform: translateY(-50%) scale(1.1);
          transform: translateY(-50%) scale(1.1);
}
.arr2:active {
  -webkit-transform: translateY(-50%) scale(0.9);
          transform: translateY(-50%) scale(0.9);
}
@media (max-width: 767px) {
  .arr2 {
    right: 10%;
  }
}
@media (max-width: 550px) {
  .arr2 {
    right: 0%;
  }
}

.page4 {
  padding: 79px 0 59px 0;
}
@media (max-width: 767px) {
  .page4 {
    padding: 60px 0;
  }
}
.page4__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 767px) {
  .page4__items {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.page4__item {
  margin: 0 0 30px 0;
  max-width: 240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  padding: 0 0 5px 0;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
}
@media (max-width: 950px) {
  .page4__item {
    margin: 0 10px 30px 10px;
  }
}

.item4__img {
  width: 100%;
  height: 220px;
  margin: 0 0 20px 0;
}
.item4__title {
  padding: 0 0 6px 0;
}
.item4__text {
  font-family: "Vollkorn", serif;
  font-size: 14px;
  line-height: 20px;
  padding: 0 0 18px 0;
}
.item4__soces {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.item4__soc {
  margin: 0 6px 0 0;
}
.item4__soc:last-child {
  margin: 0 0 0 0;
}